---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="202"></a> v2.0.2

**Release Date: XXX XX, 2019**

<%= partial 'breaking-change-dedicated-vms' %>

<%= partial 'warning-credhub-issue' %>

### Features

* A new errand is now available to the operator: `recreate-all-service-instances`. See the [errands page](./maintain.html#post-deploy) for more information.

### Security Fixes

* Redis for PCF uses open source Redis v5.0.3, which includes fixes for issues that could cause crashes in very rare cases.
For more information about Redis v5.0.3, see the
[Redis 5.0 release notes](https://raw.githubusercontent.com/antirez/redis/5.0/00-RELEASENOTES).

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this option.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>170.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.28</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.25.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.185.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.16</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v5.0.3</td>
</tr>

</table>

## <a id="201"></a> v2.0.1

**Release Date: February 12, 2019**

<%= partial 'breaking-change-dedicated-vms' %>

<%= partial 'warning-credhub-issue' %>

### Security Fixes

* Bumped Go version used to v1.10.8 for https://github.com/golang/go/issues/29903

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this option.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>170.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.28</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.25.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.185.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.16</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v5.0.2</td>
</tr>

</table>

## <a id="200"></a> v2.0.0

**Release Date: January 4, 2019**

<%= partial 'breaking-change-dedicated-vms' %>

<%= partial 'warning-credhub-issue' %>

### Features

New features and changes in this release:

- Dedicated-VM support is removed, see the Breaking Change above.
To install or upgrade the tile, operators must acknowledge the deletion of
dedicated-VMs using a checkbox.

- The Redis on-demand service broker now binds apps to a service instance using BOSH DNS.
Therefore, service bindings return the DNS address instead of the IP address.
To use BOSH DNS with existing bindings you must rebind your apps to on-demand service instances.

- Redis for PCF uses open source Redis v5.0.2, which includes a fix for a critical issue for users that
rely on streams.
For more information about Redis v5.0.2, see the
[Redis 5.0 release notes](https://raw.githubusercontent.com/antirez/redis/5.0/00-RELEASENOTES).

- On-demand Redis supports secure manifests, which avoids plaintext secrets in manifests
by passing these to the ODB to store in BOSH CredHub.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>170.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.27</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.25.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.184.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.16</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.2</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v5.0.2</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
