---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-0-2"></a> v3.0.2

**Release Date: April 22, 2022**

### Resolved Issues

This release has the following fix:

* **Starting app test timeout:**
  There was a timeout for smoke tests hence the app couldn't start properly and it would show a general error for the user. This issue has been fixed.

### Security Fixes

This release includes the following security fix:

* **runc:** Updated nginx from 1.16.x to 1.21.x to address [CVE-2021-23017](https://nvd.nist.gov/vuln/detail/CVE-2021-23017).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.224</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11 and 2.12</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.29</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.231.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.3.11</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.16</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.6</td>
</tr>

</table>

## <a id="3-0-1"></a> v3.0.1

**Release Date: March 9, 2022**

### Resolved Issues

This release has the following fixes:

* **Errand Shared-VM Broker Register for <%= vars.product_full %> no longer fails with Ruby Buildpack 1.8.50:**<br>
  This error appeared when the test application was pushed with the Ruby Buildpack version 1.8.50 when running the Shared-VM Broker Register errand.
  The issue was fixed by deleting the `.bundle` directory and the `BUNDLE_WITH` version specification on the test application's `Gemfile.lock` file.

### Known Issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.208</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11 and 2.12</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.27</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.4</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.229.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.15</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.3.8</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.16</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.6</td>
</tr>

</table>

## <a id="3-0-0"></a> v3.0.0

**Release Date: November 30, 2021**

### Features

New features and changes in this release:

- **Redis OSS:**
  Redis has been upgraded to version 6.2.6.
  For more information, see [Redis v6.2.6](https://github.com/redis/redis/releases/tag/6.2.6) in GitHub.
  <p class="note"><strong>Note:</strong> This release does not support the Redis ACL (Access Control List) commands.</p>

- **Redis TLS support:**
  This release uses the TLS port natively available in Redis v6.

- **Config API:**
  Adds an endpoint to service instances for querying Redis configuration parameters.
  For more information, see [Using the Config API](using-api.html#overview).

### Known Issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.171</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11 and 2.12</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.26</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.42.3</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.226.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.14</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.3.4</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.15</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>6.2.6</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
