---
title: Redis for VMware Tanzu Application Service Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-4-2"></a> v2.4.2

**Release Date: May 7, 2021**

### Features

New features and changes in this release:

- Secure service bindings is now configured from the Redis Tile UI rather than the TAS property.

- Upgraded Redis OSS component to v5.0.10

### Resolved Issues

This release has the following fix:

* **Upgraded the on-demand-service-broker to v0.41.0:**
  In on-demand-service-broker v0.40.0, running the upgrade-all-service-instances may fail when tls was enforced
  This issue does not occur in <%= vars.product_short %>.

* The error **"Unable to remove Healthwatch from a foundation due to 'Product Redis depends on Pivotal Healthwatch'"** has been fixed.
  In v2.4.1, healthwatch was a required dependency, which may prevent uninstallation of Healthwatch.
  The [issue](https://community.pivotal.io/s/article/Unable-to-remove-Healthwatch-from-a-foundation-due-to-Product-Redis-depends-on-Pivotal-Healthwatch?language=en_US) does not occur in <%= vars.product_short %>.


### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.90</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.9, 2.10, and 2.11</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.18</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.41.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.213.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.3.5</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.2.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.9</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.10</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
