---
title: Redis for Pivotal Platform Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-4-0"></a> v2.4.0

**Release Date: XXXX XX, 2020**

### Features

New features and changes in this release:

- **Operators can specify which TLS versions to make Redis TLS connections when TLS is enabled:** 
This feature allows control of the versions of TLS that Redis connections support.
VMware does not recommend using TLS v1.0, but it is an option for applications that only 
support this protocol.
 

- **Operators can see Healthwatch incompatibility errors when trying to install an incompatible tile:** 
Operators can only install Healthwatch v1.8 and later with the Redis tile. If the operator tries to 
install a previous Healthwatch version, the operator sees an error.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>621.74</td>
</tr>
<tr>
    <td><%= vars.platform_name %></td>
    <td>2.9 and 2.10</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.14</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.39.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.201.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.3.5</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>6.0.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.8</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.7</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
