---
title: Troubleshooting Instances
owner: Redis
---

<strong><%= modified_date %></strong>

This topic provides basic instructions for app developers troubleshooting Redis On-Demand for Pivotal Cloud Foundry (PCF).

## <a id="errors"></a> Troubleshooting Errors

Start here if you are responding to a specific error or error messages.

### <a id="x-product"></a> Common Service Errors

The following errors occur in multiple services:

- [Apps Fail to Connect to the Service Instance](#connect-fails)
- [No Metrics from Log Cache](#no-metrics)


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'connect-fails',
    description: 'Apps Fail to Connect to the Service Instance',
    symptom: 'Apps fail to connect to the Redis service instance.',
    cause: '<p>The Redis on-demand service broker now binds apps to service instances using BOSH DNS.
        Service bindings return the DNS address instead of the IP address.
        If an operator enables the BOSH HotSwaps feature, any apps with service bindings that
        do not use BOSH DNS will fail to connect to the Redis service instance.</p>
        <p>For more information, see <a href="./upgrade.html#bosh-hotswaps">Enable BOSH HotSwaps to Reduce Downtime</a>.</p>
        <p>For more information about service bindings, see
        <a href="https://docs.cloudfoundry.org/devguide/services/application-binding.html">Service Bindings</a> in the Cloud Foundry documentation.</p>',
    solution: '<p>Convert service instance bindings to use BOSH DNS.
                To do so, unbind, rebind, and restage all apps that were bound to a service
                instance using an IP address as follows:</p>
                <ul>
                    <li>Unbind the app:
                    <pre>cf unbind-service APP-NAME SERVICE-INSTANCE-NAME</pre></li>
                    <li>Rebind the app:
                    <pre>cf bind-service APP-NAME SERVICE-INSTANCE-NAME</pre></li>
                    <li>Restage the app:
                    <pre>cf restage APP-NAME</pre></li>
                </ul>'
} %>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>



<%= partial vars.path_to_partials + '/services-tshoot/tshoot-no-metrics' %>

### <a href="specific-errors"></a> <%= vars.product_old %> Specific Errors

The following troubleshooting errors are specific to <%= vars.product_old %>:

- [Maximum Number of Clients Reached](#max-clients)
- [Maxmemory Limit Reached](#maxmemory)
- [Error When Running the Save Command](#err-save-command)
- [Unknown Command Error](#err-unknown-command)


<p class="note"><strong>Note:</strong> Certain errors are returned to the Redis 
    client instead of being recorded in the logs. The Redis protocol represents 
    errors as simple strings beginning with a `-` character.</p>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'max-clients',
    description: 'Maximum Number of Clients Reached',
    symptom: '<p>You receive the following error:</p>
<pre class="terminal">-ERR max number of clients reached</pre>',
    cause: 'This is usually caused by apps opening multiple client connections to Redis.',
    solution: 'Share or pool Redis connections within an app.
            Redis for PCF configures Redis to accept 10000 client connections.
            This can be confirmed by running the `INFO` command using the Redis CLI.'
} %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'maxmemory',
    description: 'Maxmemory Limit Reached',
    symptom: "<p>You receive the following error:</p>
<pre class='terminal'>-OOM command not allowed when used memory > 'maxmemory'.</pre>",
    cause: 'This occurs when the Redis server has reached its <code>maxmemory</code> limit.',
    solution: '<p>Consider changing your maxmemory-policy.
You can update this using the <code>cf update-service</code> parameters.
For how to do this, see <a href="using.html#custom">Customize an On-Demand 
Service Instance</a>.</p>'
} %>


<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'err-save-command',
    description: 'Error When Running the Save Command',
    symptom: '<p>You receive the following error message when running 
    <code>redis-cli SAVE</code> or issuing
the save command using another Redis client:</p>
<pre class="terminal">-ERR</pre>',
    cause: "This might occur when the Redis server's disk is full.",
    solution: 'A more informative message might be logged in the syslog.
For more information, see <a href="./troubleshooting.html#syslog-errors">Syslog Errors</a>.'
} %>

<%= partial vars.path_to_partials + "/troubleshoot-template", locals: {
    id: 'err-unknown-command',
    description: 'Unknown Command Error',
    symptom: '<p>You receive the following error message when running `redis-cli COMMAND` or issuing
a command using another Redis client:</p>
<pre class="terminal">-ERR unknown command</pre>',
    cause: 'For security reasons, certain commands such as <code>CONFIG</code>, 
<code>SAVE</code>, and <code>BGSAVE</code> 
are not available by default.',
    solution: 'Talk to your operator about the availability of the command.'
} %>



## <a id="techniques"></a> Techniques for Troubleshooting

See the following sections for troubleshooting techniques when using 
the Cloud Foundry Command-Line Interface (cf CLI) to perform basic 
operations on a <%= vars.product_short %> service instance.

Basic cf CLI operations include `create`, `update`, `bind`, `unbind`, and `delete`.


### <a id="debugging"></a>Debug Using the CF CLI

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/redis/debugging-using-cf-cli' %>

### <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-tech-parse-error' %>

### <a id="instance"></a> Retrieve Service Instance Information

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space. The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan           bound apps    last operation
    my-instance   p.redis      cache-small                  create succeeded
    </pre>

1. Run `cf service SERVICE-INSTANCE-NAME` to retrieve more information about a specific instance.

1. Run `cf service SERVICE-INSTANCE-NAME --guid` to retrieve the GUID of the
instance, which is useful for debugging.

1. Run `cf tail SERVICE-INSTANCE-NAME/APP-NAME` to retrieve the service instance of
the app logs if the Log Cache CLI plugin is enabled.
See <a href="using.html#logging">Log Cache CLI plugin</a>.

### <a id="instance-credentials"></a> Retrieve the Password for a Redis Service Instance

If you want to access the Redis server for troubleshooting,
you can find a Redis service instance password by creating a new service key.

<p class="note"><strong>Note:</strong> Pivotal recommends that you use this key for troubleshooting only, and that you
delete the key after troubleshooting by using the command <code>cf delete-service-key SERVICE-INSTANCE KEY-NAME</code>.
</p>

For instructions on how to retrieve the password, see [Retrieve the Password for a Redis Service Instance](./using.html#call).

<<<<<<< HEAD
### <a id="connect-fails"></a>Apps Fail to Connect to the Service Instance

**Symptom**

Apps fail to connect to the Redis service instance.

**Explanation**

The Redis on-demand service broker now binds apps to service instances using BOSH DNS.
Service bindings return the DNS address instead of the IP address.
If an operator enables the BOSH HotSwaps feature, any apps with service bindings that
do not use BOSH DNS will fail to connect to the Redis service instance.

For more information, see [Enable BOSH HotSwaps to Reduce Downtime](./upgrade.html#bosh-hotswaps).
For more information about service bindings, see
[Service Bindings](https://docs.cloudfoundry.org/devguide/services/application-binding.html)
in the Cloud Foundry documentation.

**Solution**

Convert service instance bindings to use BOSH DNS.
To do so, unbind, rebind, and restage all apps that were bound to a service
instance using an IP address as follows:

1. Unbind the app:

    ```
    cf unbind-service APP-NAME SERVICE-INSTANCE-NAME
    ```

1. Rebind the app:

    ```
    cf bind-service APP-NAME SERVICE-INSTANCE-NAME
    ```

1. Restage the app:

    ```
    cf restage APP-NAME
    ```

### <a id='credential-setting-failure'></a>Error: Failed to Set Credentials in Credential Store

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-credhub-failing-credentials' %>

### <a id="no-metrics"></a> No Metrics from Log Cache

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-no-metrics' %>

## <a id="redis-client-errors"></a>Error Messages from the Redis Client

Certain errors are returned to the Redis client instead of being recorded in the logs.
The Redis protocol represents errors as simple strings beginning with a `-` character.

### <a id="max-clients"></a> Maximum Number of Clients Reached

**Symptom**

You receive the following error:

<pre class="terminal">-ERR max number of clients reached</pre>

**Explanation**

This is usually caused by apps opening multiple client connections to Redis.

**Solution**

Share or pool Redis connections within an app.
Redis for PCF configures Redis to accept 10000 client connections.
This can be confirmed by running the `INFO` command using the Redis CLI.

### <a id="maxmemory"></a> Maxmemory Limit Reached

**Symptom**

You receive the following error:

<pre class="terminal">-OOM command not allowed when used memory > 'maxmemory'.</pre>

**Explanation**

This occurs when the Redis server has reached its `maxmemory` limit.

**Solution**

Consider changing your maxmemory-policy.
You can update this using the `cf update-service` parameters.
For how to do this, see [Customize an On-Demand Service Instance](using.html#custom).

### <a id="err"></a>Error When Running the Save Command

**Symptom**

You receive the following error message when running `redis-cli SAVE` or issuing
the save command using another Redis client:

<pre class="terminal">-ERR</pre>

**Explanation**

This might occur when the Redis server's disk is full.

**Solution**

A more informative message might be logged in the syslog.
For more information, see [Syslog Errors](./troubleshooting.html#syslog-errors).

### <a id="err"></a>Unknown Command Error

**Symptom**

You receive the following error message when running `redis-cli COMMAND` or issuing
a command using another Redis client:

<pre class="terminal">-ERR unknown command</pre>

**Explanation**

For security reasons, certain commands such as `CONFIG`, `SAVE`, and `BGSAVE` are not available by default.

**Solution**
=======
## <a id="outages"></a>Temporary Outages
>>>>>>> f4f410f... reorg tshoot instances [#170948448]

<%= vars.product_short %> service instances can become temporarily inaccessible during upgrades and VM or network failures.


## <a id="kb"></a>Knowledge Base (Community)

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial vars.path_to_partials + '/services-tshoot/tshoot-support-dev' %>
