---
title: Troubleshooting Instances
owner: Redis
---

<strong><%= modified_date %></strong>

This topic provides basic instructions for app developers troubleshooting Redis On-Demand for Pivotal Cloud Foundry (PCF).

## <a id="debugging"></a>Debugging Using the CF CLI

To debug using the Cloud Foundry Command Line Interface (cf CLI) tool, see the commands below:

<table>
  <col width="50%">
  <col width="50%">
  <tr>
    <th>To view the...</th>
    <th>Command</th>
  </tr>
  <tr>
    <td>API endpoint, org, and space</td>
    <td><code>cf target</code></td>
  </tr>
  <tr>
    <td>Service offerings available in the targeted org and space</td>
    <td><code>cf marketplace</code></td>
  </tr>
  <tr>
    <td>Apps deployed to the targeted org and space</td>
    <td><code>cf apps</code></td>
  </tr>
  <tr>
    <td>Service instances deployed to the targeted org and space</td>
    <td><code>cf services</code></td>
  </tr>
  <tr>
    <td>GUID for a given service instance</td>
    <td><code>cf service SERVICE-INSTANCE --guid</code></td>
  </tr>
  <tr>
    <td>Service instance or application logs</td>
    <td><code>cf tail SERVICE-INSTANCE/APP</code></td>
  </tr>
</table>
<br>

## <a id="outages"></a>Temporary Outages

Redis for PCF service instances can become temporarily inaccessible during upgrades and VM or network failures.

## <a id="errors"></a> Errors

You may see an error when using the Cloud Foundry Command-Line Interface (cf CLI) to perform basic operations on a Redis for PCF service instance:

* `cf create`
* `cf update`
* `cf bind`
* `cf unbind`
* `cf delete`

### <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<!-- Partialsare in https://github.com/pivotal-cf/docs-services-partials -->

<%= partial '../../redis/partials/services-tshoot/tshoot-tech-parse-error' %>

### <a id="instance"></a> Retrieve Service Instance Information

1. Log into the space containing the instance or failed instance.
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space. The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan           bound apps    last operation
    my-instance   p.redis      cache-small                  create succeeded
    </pre>

1. Run `cf service SERVICE-INSTANCE-NAME` to retrieve more information about a specific instance.

1. Run `cf service SERVICE-INSTANCE-NAME --guid` to retrieve the GUID of the
instance, which is useful for debugging.

1. **Redis for PCF v1.14 and later:** Run `cf tail SERVICE-INSTANCE-NAME/APP-NAME` to retrieve the service instance of
the app logs if the Log Cache CLI plugin is enabled.
See <a href="using.html#logging">Log Cache CLI plugin</a>.

### <a id="instance-credentials"></a> Retrieve the Password for a Redis Service Instance

If you want to access the Redis server for troubleshooting,
you can find a Redis service instance password by creating a new service key.

<p class="note"><strong>Note:</strong> Pivotal recommends that you use this key for troubleshooting only, and that you
delete the key after troubleshooting by using the command <code>cf delete-service-key SERVICE-INSTANCE KEY-NAME</code>.</p>

For instructions on how to retrieve the password, see [Retrieve the Password for a Redis Service Instance](./using.html#call).

### <a id='credential-setting-failure'></a>Error: Failed to Set Credentials in Credential Store

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../redis/partials/services-tshoot/tshoot-credhub-failing-credentials' %>

## <a id="redis-client-errors"></a>Error Messages from the Redis Client

Certain errors are returned to the Redis client instead of being recorded in the logs.
The Redis protocol represents errors as simple strings beginning with a `-` character. <br><br>

This section helps to troubleshoot the following errors:
<br><br>
<ul>
  <li><a href="#max-clients">Maximum Number of Clients Reached</a></li>
  <li><a href="#maxmemory">Maxmemory Limit Reached</a></li>
  <li><a href="#err">Error When Running the Save Command</a></li>
</ul>

### <a id="max-clients"></a> Maximum Number of Clients Reached

<strong>Symptom</strong><br>

You receive the following error:<br>

<pre class="terminal">-ERR max number of clients reached</pre>
<br>

<strong>Explanation</strong><br>

This is usually caused by apps opening multiple client connections to Redis.
<br><br>

<strong>Solution</strong><br>

Share or pool Redis connections within an app.
Redis for PCF configures Redis to accept 10000 client connections.
This can be confirmed by running the <code>INFO</code> command using the Redis CLI.


### <a id="maxmemory"></a> Maxmemory Limit Reached

<strong>Symptom</strong><br>

You receive the following error:<br>

<pre class="terminal">-OOM command not allowed when used memory > 'maxmemory'.</pre>
<br>

<strong>Explanation</strong><br>

This occurs when the Redis server has reached its <code>maxmemory</code> limit.
<br><br>

<strong>Solution</strong><br>

Consider changing your maxmemory-policy.
You can update this using the <code>cf update-service</code> parameters.
For how to do this, see <a href="using.html#custom">Customize an On-Demand Service Instance</a>.


### <a id="err"></a>Error When Running the Save Command

<strong>Symptom</strong><br>

You receive the following error message when running <code>redis-cli SAVE</code>
or issuing the save command using another Redis client:

<pre class="terminal">-ERR</pre>
<br>

<strong>Explanation</strong><br>

This might occur when the Redis server's disk is full.
<br><br>

<strong>Solution</strong><br>

A more informative message might be logged in the syslog.
For more information, see <a href="./troubleshooting.html#syslog-errors">Syslog Errors</a>.


### <a id="err"></a>Unknown Command Error

<strong>Symptom</strong><br>

You receive the following error message when running <code>redis-cli COMMAND</code>
or issuing a command using another Redis client:

<pre class="terminal">-ERR unknown command</pre>
<br>

<strong>Explanation</strong><br>

For security reasons, certain commands such as `CONFIG`, `SAVE`, and `BGSAVE` are not available by default.
<br><br>

<strong>Solution</strong><br>

Talk to your operator about the availability of the command.


## <a id="dedicated-service-access"></a>Disabled Service Access to Dedicated VM Service Plans

<strong>Symptom</strong><br>

You receive the following error when you try to create a service instance with
the dedicated-vm service plan in Redis for PCF v1.14:

<pre class="terminal">
$ cf create-service p-redis dedicated-vm my-dedicated-redis
Creating service instance my-dedicated-redis2 in org system / space pivotal-services as admin...
FAILED
Server error, status code: 403, error code: 60010, message: A service instance for the selected plan cannot be created in this organization. The plan is visible because another organization you belong to has access to it.
</pre>
<br>

<strong>Explanation</strong><br>

In PCF for Redis v1.14, the dedicated-vm service plan is disabled.
Only CF admin users are able to view the dedicated-vm service plan on the Marketplace.

The "broker registrar" errand and the "cleanup metadata if dedicated-vm plan disabled"
errand both disable service access to the dedicated-vm service plan.
If you have re-enabled the dedicated-vm plan, the service access is disabled again when
Ops Manager or an operator runs these errands.

<p class="note"><strong>Note</strong>: The service access has been restricted
  because the dedicated-vm service plan will be removed in Redis for PCF v2.0.</p>

<br>
<strong>Solution</strong><br>

  Create a service instance using an on-demand service plan.

## <a id="kb"></a>Knowledge Base (Community)

<!-- Partialsare in https://github.com/pivotal-cf/docs-services-partials -->

<%= partial '../../redis/partials/services-tshoot/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../redis/partials/services-tshoot/tshoot-support-dev' %>
