---
title: Troubleshooting Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

In this topic:

* [Useful Debugging Commands](#debugging)
* [About the Redis CLI](#redis-cli)
* [Troubleshooting Errors](#errors)
    * [Failed Install](#install-fail)
    * [Cannot Create or Delete Service Instances](#cannot-create-delete)
    * [Broker Request Timeouts](#timeouts)
    * [Cannot Bind to or Unbind from Service Instances](#cannot-bind)
    * [Cannot Connect to a Service Instance](#cannot-connect)
    * [Upgrade All Instances Fails](#upgrade-all-fails)
    * [Missing Logs and Metrics](#missing-logs)
    * [Error Messages Logged in Syslog](#syslog-errors)
    * [Failed Backup](#backup-errors)
    * [Orphaned Instances](#orphaned-instances)
* [Troubleshooting Components](#components)
    * [BOSH Problems](#bosh)
    * [Configuration](#bosh-config)
    * [Authentication](#auth)
    * [Networking](#network)
    * [Quotas](#quotas)
* [Techniques for Troubleshooting](#techniques)
    * [Parse a Cloud Foundry (CF) Error Message](#parse-error)
    * [Access Broker and Instance Logs and VMs](#bosh-cf-access)
    * [Run Service Broker Errands to Manage Brokers and Instances](#broker-errands)
    * [Select the BOSH Deployment for a Service Instance](#instance-deployment)
    * [Get Admin Credentials for a Service Instance](#instance-creds)
    * [Reinstall a Tile](#reinstall)
    * [View Resource Saturation and Scaling](#view-resources)
    * [Identify Service Instance Owner](#id-instance-owner)
    * [Monitor Quota Saturation and Service Instance Count](#monitor-quota)
* [Knowledge Base Articles](#Knowledge)


This topic lists troubleshooting information for Redis for PCF.

<p class="note"><strong>Note</strong>:
Some of the troubleshooting approaches in this topic suggest potentially destructive operations.
Pivotal recommends that you back up both your Ops Manager and deployments before attempting such opperations.
<br>
<br>
For more information about backing up your setup and exporting your Ops Manager installation,
see <a href="https://docs.pivotal.io/pivotalcf/2-0/customizing/backup-restore/backup-pcf-bbr.html">Backing Up Pivotal Cloud Foundry with BBR</a>
</p>


<a id="debugging"></a><h2> Useful Debugging Commands</h2>


Before debugging, gather the following about your PCF deployment:

* Current version of Redis for PCF, and, if upgrading, the previous version of Redis for PCF
* Current version of Ops Manager, and, if upgrading, the previous version of Ops Manager


### cf CLI Commands

<table>
  <tr>
    <th>Purpose</th>
    <th>Command</th>
  </tr>
  <tr>
    <td>View the API endpoint, org, and space</td>
    <td><code>cf target</code></td>
  </tr>
  <tr>
    <td>View the service offerings available in the targeted org and space</td>
    <td><code>cf marketplace</code></td>
  </tr>
  <tr>
    <td>View the apps deployed to the targeted org and space</td>
    <td><code>cf apps</code></td>
  </tr>
  <tr>
    <td>View the service instances deployed to the targeted org and space</td>
    <td><code>cf services</code></td>
  </tr>
  <tr>
    <td>View the GUID for a given service instance</td>
    <td><code>cf service SERVICE_INSTANCE --guid</code></td>
  </tr>
  <tr>
    <td>View the service instance or application logs</td>
    <td><code>cf tail SERVICE_INSTANCE/APP</code></td>
  </tr>
</table>
<br>

### BOSH CLI Commands

<table>
  <tr>
    <th>Purpose</th>
    <th>Command</th>
  </tr>
  <tr>
    <td>View the targeted BOSH director, version, and CPI</td>
    <td><code>bosh env</code></td>
  </tr>
  <tr>
    <td>View the deployments deployed via the targeted BOSH director</td>
    <td><code>bosh deployments</code></td>
  </tr>
  <tr>
    <td>View the VMs for a given deployment</td>
    <td><code>bosh -d DEPLOYMENT vms</code></td>
  </tr>
  <tr>
    <td>SSH into a given deployment's VM</td>
    <td><code>bosh -d DEPLOYMENT ssh VM</code></td>
  </tr>
</table>


You can obtain general information after you SSH into a broker or service instance as follows:

  * To see system logs, go to `/var/vcap/sys/log`.
  * To check process health, run `sudo monit summary`.
  * To obtain a list of all processes, run `ps aux`.
  * To see disk usage, run `df -h`.
  * To see memory usage, run `free -m`.


You can obtain information specific to the cf-redis broker as follows:

  * For shared-VMs, the redis processes are colocated with the CF-Redis broker.
    You can check these VMs using `ps aux | grep redis-server`.
  * Shared-VM data is stored in `/var/vcap/store/cf-redis-broker/redis-data`.
  * A map of dedicated-VMs can be found in `/var/vcap/store/cf-redis-broker/statefile.json`.


<a id="redis-cli"></a><h2>About the Redis CLI</h2>

The redis-cli is a command line tool used to access a Redis server.
You can use the redis-cli for create, read, update, and delete (CRUD) actions,
and to set configuration values.
For more information about the redis-cli, see [redis-cli, the Redis command
line interface](https://redis.io/topics/rediscli) in the Redis documentation.

To access the redis-cli, do the following:

1. Follow the instructions in [Access the Redis Service](./using.html#call)
to retrieve the password and port number for the service instance.

1. SSH into the service instance.

1. Connect to the Redis server and enter the redis-cli interactive mode by running:

    ```
    /var/vcap/packages/redis/bin/redis-cli -p PORT -a PASSWORD
    ```
    Where:
    <ul>
      <li><code>PORT</code> is the port number retrieved in step one.</li>
      <li><code>PASSWORD</code> is the password retrieved in step one.</li>
    </ul>
    For more information about the redis-cli interactive mode, see
    [Interactive Mode](https://redis.io/topics/rediscli#interactive-mode) in the
    Redis documentation.


<a id="errors"><h2></a>Troubleshooting Errors</h2>

Start here if you are responding to a specific error or error messages.

<a id="install-fail"></a><h3>Failed Install</h3>

<%= partial '../../redis/odb/tshoot-err-install-fail' %>

<a id="cannot-create-delete"></a><h3>Cannot Create or Delete Service Instances</h3>

<%= partial '../../redis/odb/tshoot-err-cannot-create-delete' %>

<a id="timeouts"></a><h3>Broker Request Timeouts</h3>

<%= partial '../../redis/odb/tshoot-err-timeouts' %>

<a id="cannot-bind"><h3></a>Cannot Bind to or Unbind from Service Instances</h3>

<a id="instance-not-exist"></a><h4>Instance Does Not Exist</h4>

<%= partial '../../redis/odb/tshoot-err-instance-not-exist' %>

<a id="other-errors"></a><h4>Other Errors</h4>

<%= partial '../../redis/odb/tshoot-err-other-errors' %>

<a id="cannot-connect"><h3></a>Cannot Connect to a Service Instance</h3>

<%= partial '../../redis/odb/tshoot-err-cannot-connect' %>

<a id="upgrade-all-fails"><h3></a>Upgrade All Instances Fails</h3>

<%= partial '../../redis/odb/tshoot-err-upgrade-all-fails' %>

<a id="missing-logs"><h3></a>Missing Logs and Metrics</h3>

<%= partial '../../redis/odb/tshoot-err-missing-logs' %>

<a id="syslog-errors"></a><h3>Error Messages Logged in Syslog</h3>

You can configure Redis for PCF with remote syslog forwarding.
For more information, see <a href="installing.html#syslog">Configure Syslog Forwarding</a>.

<br><br>

This section helps to troubleshoot the following errors logged in syslog:
<br><br>
<ul>
  <li><a href="#disk-full">AOF Write or Rewrite Errors</a></li>
  <li><a href="#disk-size">Saving Error</a></li>
</ul>

<a id="disk-full"></a><h4>AOF Write or Rewrite Errors</h4>
<br>
<strong>Symptom</strong><br><br>

One of the following error messages is logged:<br>

<pre class="terminal">Short write while writing to the AOF file</pre>
<pre class="terminal">Opening the temp file for AOF rewrite in rewriteAppendOnlyFile(): No space left on device</pre>
<pre class="terminal">Background AOF rewrite terminated with error</pre>
<br>

<strong>Explanation</strong><br><br>

This is logged when the Redis server is unable to append to the Redis append-only file (AOF).
The disk might be full.
<br><br>

<strong>Solution</strong><br><br>

For a short-term solution, do the following:<br><br>

<ol>
  <li>SSH into the affected Redis instance.</li>
  <li>Log into the <a href="#redis-cli">redis-cli</a>.</li>
  <li>Run <code>redis-cli CONFIG SET appendonly no</code> to disable AOF persistence.</li>
  <li>Delete the <code>/var/vcap/store/redis/appendonly.aof</code> file.</li>
  <li>Run <code>kill -HUP REDIS-SERVER-PID</code> to restart the Redis process.</li>
  <li>Run <code>redis-cli CONFIG SET appendonly yes</code> to re-enable AOF persistence.</li>
</ol>

For a long-term solution, upgrade to Redis for PCF v1.12 or later.
In older versions of the Redis for PCF tile, AOF persistence is enabled by default.
Upgrading to the latest version of the tile disables AOF persistence.


<a id="disk-size"></a><h4>Saving Error</h4><br>

<strong>Symptom</strong><br><br>

One of the following error messages is logged:<br>

<pre class="terminal">Background saving error</pre>
<pre class="terminal">Failed opening the RDB file dump.rdb (in server root dir /var/vcap/store/redis) for saving: No space left on device</pre>
<br>

<strong>Explanation</strong><br><br>

This might be logged when the configured disk size is too small,
or if the Redis AOF uses all the disk space.
<br><br>

<strong>Solution</strong><br><br>

To prevent this error, do the following:

<ol>
  <li>Ensure the disk is configured to at least 1.5 times the RAM.</li>
  <li>Check if the AOF is using too much disk space by doing the following:
    <ol>
      <li>BOSH SSH into the affected service instance VM.</li><br>
      <li>Run <code>cd /var/vcap/store/redis; ls -la</code> to list the size of each file.</li><br>
      <li>If the <code>appendonly.aof</code> file is large, follow the instuctions
        in <a href="#disk-full">AOF Write or Rewrite Errors</a>.</li>
    </ol>
  </li>
</ol>


<a id="backup-errors"></a><h3>Failed Backup</h3><br>

<strong>Symptom</strong><br><br>

The following error message is logged:<br>
<pre class="terminal">Backup has failed. Redis must be running for a backup to run</pre>
<br>

<strong>Explanation</strong><br><br>

This is logged if a backup is initiated against a Redis server that is down.
<br><br>

<strong>Solution</strong><br><br>
Ensure that the Redis server being backed up is running.
To do this, run <code>bosh restart</code> against the affected service instance VM.


<a id=""></a><h3>Disabled Service Access to Dedicated VM Service Plans</h3><br>

<strong>Symptom</strong><br><br>

You try to create a service instance with the dedicated-vm service plan in Redis for PCF v1.14.
<br><br>
<pre class="terminal">
$ cf create-service p-redis dedicated-vm my-dedicated-redis
Creating service instance my-dedicated-redis2 in org system / space pivotal-services as admin...
FAILED
Server error, status code: 403, error code: 60010, message: A service instance for the selected plan cannot be created in this organization. The plan is visible because another organization you belong to has access to it.
</pre>
<br><br>

<strong>Explanation</strong><br><br>

As of PCF for Redis v1.14, the dedicated-vm service plan has been disabled.
Only CF CLI admin users are able to view the dedicated-vm service plan on the CF marketplace.
<br><br>
<strong>Note:</strong> The reason service access was restricted is due to the deprecation of the dedicated-vm service plan which will be removed in v1.15.
<br><br>

<strong>Solution</strong><br><br>

<ul>
  <li>
    <strong>Recommended:</strong> Create a service instance using a On-Demand service plan.
  </li>
  <li>
  <strong>Not recommended:</strong> Ensure dedicated VMs are provisioned in the resource config tab of the Redis for PCF tile in OpsManager.
  As a CF CLI admin user, run <code>cf enable-service-access p-redis -p dedicated-vm</code>.
  </li>
</ul>


<a id="orphaned-instances"></a><h3>Orphaned Instances</h3><br>

<strong>Symptom</strong><br><br>

When you run <code>cf curl /v2/service_instances</code> using the cf CLI,
some service instances are visible that are not visible to the BOSH director.
These unused or orphaned instances can create issues.
For example, they may hold on to a static IP address, causing IP conflicts.
<br><br>

<strong>Explanation</strong><br><br>

Orphaned instances can occur in the following situations:
<br><br>
<ul>
  <li>Both CF and BOSH maintain state.
    Orphaned instances can occur if the CF state is out of sync with BOSH.
    For example, the deployments or VMs have been deprovisioned by BOSH but the call to update the CF state failed.</li>
  <li>If a call to deprovision a service instance was made directly to BOSH rather than through the cf CLI.</li>
</ul>

<strong>Solution</strong><br><br>

<ul>
  <li>
    <strong>If this is the first occurrence:</strong> Pivotal recommends that you purge instances by running
    <code>cf purge-service-instance SERVICE-INSTANCE</code>.
  </li>
  <li>
    <strong>If this is a repeated occurrence:</strong> Contact Pivotal support
    for further assistance, and include the following:
    <ul>
      <li>A snippet of your <code>broker.log</code> around the time of the incident</li>
      <li>The deployment manifest of failed instances, hiding private information like passwords</li>
      <li>Any recent logs that you can recover from the failed service instance</li>
    </ul>
  </li>
</ul>

<a id="components"></a><h2>Troubleshooting Components</h2>

This section provides guidance on checking for, and fixing, issues in cf-redis and on-demand service components.

<a id="bosh"></a><h3>BOSH Problems</h3>

<a id="no-bosh-uuid"></a><h4>Missing BOSH Director UUID</h4>

<%= partial '../../redis/odb/tshoot-comp-no-bosh-uuid' %>

<a id="large-queue"></a><h4>Large BOSH Queue</h4>

<%= partial '../../redis/odb/tshoot-comp-large-queue' %>

<a id="bosh-config"></a><h3>Configuration</h3>

<a id="bosh-instance-fail"></a><h4>Service instances in failing state</h4>

<%= partial '../../redis/odb/tshoot-comp-bosh-instance-fail' %>

<a id="auth"></a><h3>Authentication</h3>

<a id="uaa-change"></a><h4>UAA Changes</h4>

<%= partial '../../redis/odb/tshoot-comp-uaa-change' %>

<a id="network"></a><h3>Networking</h3>

<%= partial '../../redis/odb/tshoot-comp-network' %>

<a id="broker-to-instances"></a><h4>Validate Service Broker Connectivity to Service Instances</h4>

<%= partial '../../redis/odb/tshoot-comp-broker-to-instances' %>

<a id="app-to-instances"></a><h4>Validate App Access to Service Instance</h4>

<%= partial '../../redis/odb/tshoot-comp-app-to-instances' %>

<a id="quotas"></a><h3>Quotas</h3>

<a id="plan-quotas"></a><h4>Plan Quota issues</h4>

<%= partial '../../redis/odb/tshoot-comp-plan-quotas' %>

<a id="global-quotas"></a><h4>Global Quota Issues</h4>

<%= partial '../../redis/odb/tshoot-comp-global-quotas' %>

<a id="failing-jobs"></a><h4>Failing jobs and unhealthy instances</h4>

<%= partial '../../redis/odb/tshoot-comp-failing-jobs' %>

<a id="techniques"></a><h2>Techniques for Troubleshooting</h2>

This section contains instructions on:<br><br>
  <ul>
    <li>Interacting with the on-demand service broker</li>
    <li>Interacting with on-demand service instance BOSH deployments</li>
    <li>Performing general maintenance and housekeeping tasks</li>
  </ul>

<a id="parse-error"></a><h3>Parse a Cloud Foundry (CF) Error Message</h3>

<%= partial '../../redis/odb/tshoot-tech-parse-error' %>

<a id="bosh-cf-access"></a><h3>Access Broker and Instance Logs and VMs</h3>

<%= partial '../../redis/odb/tshoot-tech-bosh-cf-access' %>

<a id="access-broker"></a><h4>Access Broker Logs and VM(s)</h4>

<%= partial '../../redis/odb/tshoot-tech-access-broker' %>

<a id="access-instance"></a><h4>Access Service Instance Logs and VMs</h4>

<%= partial '../../redis/odb/tshoot-tech-access-instance' %>

<a id="broker-errands"></a><h3>Run Service Broker Errands to Manage Brokers and Instances</h3>

<%= partial '../../redis/odb/tshoot-tech-broker-errands' %>

<a id="register-broker"></a><h4>Register Broker</h4>

<%= partial '../../redis/odb/tshoot-tech-register-broker' %>

<a id="deregister-broker"></a><h4>Deregister Broker</h4>

<%= partial '../../redis/odb/tshoot-tech-deregister-broker' %>

<a id="upgrade-all"></a><h4>Upgrade All Service Instances</h4>

<%= partial '../../redis/odb/tshoot-tech-upgrade-all' %>

<a id="delete-all"></a><h4>Delete All Service Instances</h4>

<%= partial '../../redis/odb/tshoot-tech-delete-all' %>

<a id="detect-orphans"></a><h4>Detect Orphaned Instances Service Instances</h4>

<%= partial '../../redis/odb/tshoot-tech-detect-orphans' %>

<a id="instance-deployment"></a><h3>Select the BOSH Deployment for a Service Instance</h3>

<%= partial '../../redis/odb/tshoot-tech-instance-deployment' %>

<a id="instance-creds"></a><h3>Get Admin Credentials for a Service Instance</h3>

<%= partial '../../redis/odb/tshoot-tech-instance-creds' %>

<a id="reinstall"></a><h3>Reinstall a Tile</h3>

<%= partial '../../redis/odb/tshoot-tech-reinstall' %>

<a id="view-resources"></a><h3>View Resource Saturation and Scaling</h3>

<%= partial '../../redis/odb/tshoot-tech-view-resources' %>

<a id="id-instance-owner"></a><h3>Identify Service Instance Owner</h3>

<%= partial '../../redis/odb/tshoot-tech-id-instance-owner' %>

<a id="monitor-quota"></a><h3>Monitor Quota Saturation and Service Instance Count</h3>

<%= partial '../../redis/odb/tshoot-tech-monitor-quota' %>


<a id="Knowledge"></a><h2>Knowledge Base Articles</h2>

The following are <a href="https://discuss.pivotal.io/hc/en-us/sections/200215308-Services"> Pivotal Knowledge Base</a> articles about Redis for PCF:<br><br>

<ul>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/115010154387"> Create an empty service network to use the Redis tile without enabling the on-demand service </a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/222006747-Pivotal-Cloud-Foundry-Redis-full-disk-scaling-issue">Can't redeploy Redis for PCF if shared-VM persistent disk full</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/220952828-Pivotal-Cloud-Foundry-Redis-tile-upgrade-issue">Issue with upgrading tile</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/230513247-Pivotal-Cloud-Foundry-Redis-Deploy-Fails-to-Complete">Issue with deploy failing</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/235256867-Pivotal-Cloud-Foundry-Redis-Instance-Alive-after-Successful-De-provisioning">Redis instance alive after successful de-provisioning</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/115005023508">PCF Redis dedicated instance fails to persist to disk</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/115007564767">Redis error when saving changes after a back to AWS S3: Error: Access Denied for bucket'</a></li>
  <li><a href="https://discuss.pivotal.io/hc/en-us/articles/115007592848"> Internet access disabled for tile and instances</a></li>
  <li><a href="https://pvtl.force.com/s/article/Removing-dedicated-vm-Service-Instances-from-the-CF-when-deleted-from-BOSH"> Removing dedicated-VM service instances on CF when already deleted from BOSH</a></li>
  <li><a href="https://pvtl.force.com/s/article/Migrating-from-dedicated-vm-service-plans-to-on-demand-service-plans">Migrating from dedicated-VM service plans to on-demand service plans</a></li>
</ul>
